<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.zut.mad.schedule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Login" />

        <activity
            android:name=".search.SearchActivity"
            android:label="@string/activity_search_label"
            android:theme="@style/Search"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".calendar.CalendarActivity" />

        <receiver android:name=".widget.ScheduleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>
