<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.zut.mad.schedule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="pl.edu.zut.mad.schedule.login.LoginActivity"
            android:theme="@style/Login" />

        <receiver android:name=".widget.ScheduleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="pl.edu.zut.mad.schedule.WIDGET_NEXT_DAY_CLICK" />
                <action android:name="pl.edu.zut.mad.schedule.WIDGET_PREVIOUS_DAY_CLICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
