<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="pl.edu.zut.mad.schedulecalendar">
    <!-- TODO: rename package to schedule -->
    <!-- TODO: options for not showing free days in list -->
    <application
        android:name=".ScheduleApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/Login" />
    </application>

</manifest>
