<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.zut.mad.schedule">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.ScheduleApp"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".login.LoginActivityTest$TestLoginActivity"
            android:theme="@style/Login" />

        <activity
            android:name="androidx.appcompat.app.AppCompatActivity"
            android:theme="@style/Login" />
    </application>

</manifest>
